<div class="modal-header">
    <h3 class="modal-title">Add New Project</h3>
</div>

<div class="modal-body">
    <div ng-if="error" class="alert alert-danger" role="alert">
        {{error}}
    </div>
    <div ng-if="success" class="alert alert-success" role="alert">
        <p>Project successfully created</p>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" ng-model="project.title" required>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" ng-model="project.description" required>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="start_date">Start Date</label>
            <div class="input-group date">
                <input type="text" class="form-control" id="datetimepicker1" ng-model="project.start_date" required>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="end_date">End Date</label>
            <div class="input-group date">
                <input type="text" class="form-control" id="datetimepicker2" ng-model="project.end_date">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="is_billable">Is Billable</label>
            <select ng-model="project.is_billable">
                <option ng-value="true">True</option>
                <option ng-value="false">False</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="is_active">Is Active</label>
            <select ng-model="project.is_active">
                <option ng-value="true">True</option>
                <option ng-value="false">False</option>
            </select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-disabled="creating" ng-click="submit()">{{creating ? 'Creating...' : 'Create'}}
        </button>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker();
    });
</script>