<div class="row" ng-controller="ProjectsCtrl" ng-cloak>
    <div class="col-md-12">
        <h2 class="page-header">Current Projetcs</h2>
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>is Billable</th>
                    <th>is Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects">
                    <td><a href="" ng-click="viewproject(projeck.pk)">{{ project.title }}</a></td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.start_date | date }}</td>
                    <td>{{ project.end_date | date }}</td>
                    <td>
                        <span ng-if="project.is_billable" class="glyphicon glyphicon-ok-circle text-success"></span> 
                        <span ng-if="!project.is_billable" class="glyphicon glyphicon-remove-circle text-danger"></span>
                    </td>
                    <td>
                        <span ng-if="project.is_active" class="glyphicon glyphicon-ok-circle text-success"></span>
                        <span ng-if="!project.is_active" class="glyphicon glyphicon-remove-circle text-danger"></span>
                    </td>
                    <td>
                        <ul class="list-inline">
                            <li><a ng-href="#/project/edit?pk={{project.pk}}" ng-click="$event.stopPropagation();" title="Edit"><i class="glyphicon glyphicon-edit"></i></a></li>
                            <li><a href="" ng-click="deleteProject(project.pk)" title="Delete"><i class="glyphicon glyphicon-trash"></i></a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>