<div class="row" ng-controller="ProjectsCtrl" ng-cloak>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Projects
                <a href="" ng-click="openModal($event,0,'create')" class="btn btn-success btn-xs pull-right">Add Vew Project</a>
            </div>
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>is Billable</th>
                        <th>is Active</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="project in projects">
                        <td><a href="{{project.pk}}" ng-click="viewproject(project.pk)">{{ project.title }}</a></td>
                        <td>{{ project.description }}</td>
                        <td>{{ (project.start_date | date : "MMM. d, y") || '(None)' }}</td>
                        <td>{{ (project.end_date | date: "MMM. d, y") || '(None)' }}</td>
                        <td>
                            <span ng-if="project.is_billable" class="glyphicon glyphicon-ok-circle text-success"></span>
                            <span ng-if="!project.is_billable" class="glyphicon glyphicon-remove-circle text-danger"></span>
                        </td>
                        <td>
                            <span ng-if="project.is_active" class="glyphicon glyphicon-ok-circle text-success"></span>
                            <span ng-if="!project.is_active" class="glyphicon glyphicon-remove-circle text-danger"></span>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li><a href="" ng-click="openModal($event,project.pk,'edit')" title="Edit"><i class="glyphicon glyphicon-edit"></i></a></li>
                                <li><a href="" ng-click="openModal($event,project.pk,'delete')" title="Delete"><i class="glyphicon glyphicon-trash"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            {{ projects.length }} projects
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Project Task</div>
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Task Name</th>
                        <th>Due Date</th>
                        <th>Est. Hours</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="task in tasks track by $index">
                        <td><p>{{ task.project_data.title }}: {{ task.title }}</p>
                            <input ng-model="task.title" ng-value="task.title">
                        </td>
                        <td>
                            <input ng-model="task.due_date" ng-value="task.due_date | date: 'YYYY-MM-dd'">
                        </td>
                        <td>
                            <input ng-model="task.estimated_hours" ng-value="task.estimated_hours">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>